@tailwind base;
@tailwind components;
@tailwind utilities;





body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@media (max-width: 700px) {
  html {
    font-size: 16px; /* スマホ用に縮小 */
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
